body{
    font-family: 'Abel', sans-serif;
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
}

.sec01{
    display: flex;
    

}
.sec3{
    display: flex;
}

h1{
    font-size: 50px;
}


.div1{
    padding-left: 5%;
    width: 50%;
    margin-bottom: 50px;
}

.divline h1{
    border-left: 5px solid ;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

.div1 img{
    width: 70%;
    padding-top: 5%;
    
}
.div1 p{
    text-align: justify;
    padding-right: 2px;
}

.link1{
    text-decoration: none; /* anchor underline hiding */
    background-image: linear-gradient(rgb(176, 176, 204), navy );
    padding: 10px 40px;
    color: white;
    font-weight: 300;
    border-radius: 5px;
}
span{
    color: red;
}
#gold{
    color: gold;

}

.div3{
    width: 100%;
    box-shadow: 10px 10px 40px grey ;
    padding-left: 5px;
    padding-right: 5px;    
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    margin-bottom: 2%;
    text-align: center;
    
}
.div3 img{
    width: 100%;
}
